In [20]:
import pandas as pd
import numpy as np

In [21]:
test_data = np.array([[1, 2], [3, 4]])
test_data

array([[1, 2],
       [3, 4]])

In [22]:
sum(test_data)

array([4, 6])

In [23]:
list('ABCD')

['A', 'B', 'C', 'D']

In [24]:
### 生成一个随机df
df = pd.DataFrame(np.random.randn(10, 4), columns = list('ABCD'))
df

          A         B         C         D
0  0.203522 -0.336611 -0.648661 -0.681026
1 -0.092225  0.265150 -1.521578 -0.347350
2  0.298899 -0.734007  0.045577 -0.775951
3  2.877536 -0.573186 -0.350834 -0.655165
4 -1.030982 -1.240893  0.316280  0.101722
5 -0.506418  1.758354 -0.779801  0.234544
6  0.394184  0.026890  0.502177 -0.974345
7  0.057200  0.610164 -0.685480  0.418657
8 -0.767052 -0.564779  1.953882 -0.303745
9 -0.085629  0.310265  0.417700  0.984736

In [25]:
df.query('A > 0 and B > 0')

          A         B         C         D
6  0.394184  0.026890  0.502177 -0.974345
7  0.057200  0.610164 -0.685480  0.418657

In [26]:
df[(df.A > 0)  & (df.B > 0)]

          A         B         C         D
6  0.394184  0.026890  0.502177 -0.974345
7  0.057200  0.610164 -0.685480  0.418657

In [27]:
df.query('A > 0 and B > 0') == df[(df.A > 0)  & (df.B > 0)]

      A     B     C     D
6  True  True  True  True
7  True  True  True  True

In [31]:
df.rename(columns = {'A':'A1'}, inplace = True)

In [32]:
df

         A1         B         C         D
0  0.203522 -0.336611 -0.648661 -0.681026
1 -0.092225  0.265150 -1.521578 -0.347350
2  0.298899 -0.734007  0.045577 -0.775951
3  2.877536 -0.573186 -0.350834 -0.655165
4 -1.030982 -1.240893  0.316280  0.101722
5 -0.506418  1.758354 -0.779801  0.234544
6  0.394184  0.026890  0.502177 -0.974345
7  0.057200  0.610164 -0.685480  0.418657
8 -0.767052 -0.564779  1.953882 -0.303745
9 -0.085629  0.310265  0.417700  0.984736

In [35]:
! pip install numpy-financial

Collecting numpy-financial
  Downloading numpy_financial-1.0.0-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\15890\appdata\local\programs\python\python310\lib\site-packages (from numpy-financial) (1.26.4)
Downloading numpy_financial-1.0.0-py3-none-any.whl (14 kB)
Installing collected packages: numpy-financial
Successfully installed numpy-financial-1.0.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
!pip list

Package                       Version
----------------------------- ---------------
absl-py                       2.0.0
accelerate                    0.24.1
aiofiles                      23.2.1
aiohttp                       3.9.5
aiosignal                     1.3.1
alabaster                     1.0.0
alembic                       1.13.3
altair                        5.1.2
annotated-types               0.6.0
anyio                         3.7.1
argon2-cffi                   23.1.0
argon2-cffi-bindings          21.2.0
arrow                         1.3.0
asttokens                     2.2.1
async-lru                     2.0.4
async-timeout                 4.0.3
attrs                         23.1.0
autowoe                       1.3.2
Babel                         2.14.0
backcall                      0.2.0
bayesian-optimization         1.5.1
beautifulsoup4                4.12.2
bleach                        6.1.0
cachetools                    5.3.1
catboost                      1.2.5
certifi                       2022.12.7
cffi                          1.16.0
charset-normalizer            2.1.1
click                         8.1.7
cloudpickle                   3.0.0
cmaes                         0.11.1
colorama                      0.4.6
colorlog                      6.8.2
comm                          0.1.3
contourpy                     1.0.7
cpm-kernels                   1.0.11
cycler                        0.11.0
Cython                        3.0.10
d2l                           0.17.0
dask                          2024.4.2
datasets                      2.20.0
debugpy                       1.6.7
decorator                     5.1.1
defusedxml                    0.7.1
dill                          0.3.8
docutils                      0.21.2
et-xmlfile                    1.1.0
exceptiongroup                1.1.3
executing                     1.2.0
fastapi                       0.104.1
fastjsonschema                2.19.1
ffmpy                         0.3.1
filelock                      3.12.0
fonttools                     4.39.4
fqdn                          1.5.1
frozenlist                    1.4.1
fsspec                        2023.10.0
future                        1.0.0
google-auth                   2.23.3
google-auth-oauthlib          1.0.0
gradio                        4.1.1
gradio_client                 0.7.0
graphviz                      0.20.3
greenlet                      3.1.1
grpcio                        1.59.0
h11                           0.14.0
hillclimbers                  0.1.4
holidays                      0.58
httpcore                      1.0.1
httpx                         0.25.1
huggingface-hub               0.23.4
hyperopt                      0.2.7
idna                          3.4
imagesize                     1.4.1
imbalanced-learn              0.12.2
imblearn                      0.0
importlib_metadata            7.1.0
importlib-resources           6.1.0
iniconfig                     2.0.0
ipykernel                     6.23.1
ipython                       8.14.0
ipywidgets                    8.1.2
isoduration                   20.11.0
jedi                          0.18.2
jieba                         0.42.1
Jinja2                        3.1.2
joblib                        1.2.0
json2html                     1.3.0
json5                         0.9.17
jsonpointer                   2.4
jsonschema                    4.19.2
jsonschema-specifications     2023.7.1
jupyter                       1.0.0
jupyter_client                8.2.0
jupyter-console               6.6.3
jupyter_core                  5.3.0
jupyter-events                0.9.0
jupyter-lsp                   2.2.2
jupyter-resource-usage        1.1.0
jupyter_server                2.12.5
jupyter_server_terminals      0.5.2
jupyterlab                    4.1.2
jupyterlab_pygments           0.3.0
jupyterlab_server             2.25.3
jupyterlab_widgets            3.0.10
kiwisolver                    1.4.4
latex2mathml                  3.76.0
latexify-py                   0.4.2
lightautoml                   0.3.8.1
lightgbm                      3.2.1
lightning-utilities           0.11.9
locket                        1.0.0
Mako                          1.3.5
Markdown                      3.5
markdown-it-py                3.0.0
MarkupSafe                    2.1.3
matplotlib                    3.7.2
matplotlib-inline             0.1.6
mdtex2html                    1.2.0
mdurl                         0.1.2
mistune                       3.0.2
mlxtend                       0.23.3
mpmath                        1.3.0
multidict                     6.0.5
multiprocess                  0.70.16
nbclient                      0.9.0
nbconvert                     7.16.1
nbformat                      5.9.2
nest-asyncio                  1.5.6
networkx                      3.1
notebook                      7.1.0
notebook_shim                 0.2.4
numpy                         1.26.4
numpy-financial               1.0.0
oauthlib                      3.2.2
openpyxl                      3.1.2
optuna                        4.0.0
orjson                        3.9.10
overrides                     7.7.0
packaging                     23.1
pandas                        1.5.3
pandocfilters                 1.5.1
parso                         0.8.3
partd                         1.4.1
patsy                         0.5.6
pickleshare                   0.7.5
Pillow                        9.3.0
pip                           24.2
platformdirs                  3.5.1
plotly                        5.22.0
pluggy                        1.5.0
poetry-core                   1.9.1
prometheus_client             0.20.0
prompt-toolkit                3.0.38
protobuf                      4.24.4
psutil                        5.9.5
pure-eval                     0.2.2
py4j                          0.10.9.7
pyarrow                       16.1.0
pyarrow-hotfix                0.6
pyasn1                        0.5.0
pyasn1-modules                0.3.0
pycparser                     2.21
pydantic                      2.4.2
pydantic_core                 2.10.1
pydub                         0.25.1
Pygments                      2.18.0
pyparsing                     3.0.9
PyPrind                       2.11.3
pytest                        8.3.3
python-dateutil               2.8.2
python-json-logger            2.0.7
python-multipart              0.0.6
pytorch-lightning             2.4.0
pytz                          2023.3
pywin32                       306
pywinpty                      2.0.12
PyYAML                        6.0.1
pyzmq                         25.1.0
qtconsole                     5.5.1
QtPy                          2.4.1
referencing                   0.30.2
regex                         2023.10.3
requests                      2.32.3
requests-oauthlib             1.3.1
rfc3339-validator             0.1.4
rfc3986-validator             0.1.1
rich                          13.6.0
rpds-py                       0.12.0
rsa                           4.9
safetensors                   0.4.0
scikit-learn                  1.6.0
scipy                         1.10.1
seaborn                       0.12.2
semantic-version              2.10.0
Send2Trash                    1.8.2
sentencepiece                 0.1.99
setuptools                    65.5.0
shellingham                   1.5.4
six                           1.16.0
sklearn                       0.0.post9
sniffio                       1.3.0
snowballstemmer               2.2.0
soupsieve                     2.4.1
Sphinx                        8.1.3
sphinx-rtd-theme              3.0.1
sphinxcontrib-applehelp       2.0.0
sphinxcontrib-devhelp         2.0.0
sphinxcontrib-htmlhelp        2.1.0
sphinxcontrib-jquery          4.1
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          2.0.0
sphinxcontrib-serializinghtml 2.0.0
SQLAlchemy                    2.0.36
stack-data                    0.6.2
starlette                     0.27.0
statsmodels                   0.14.0
StrEnum                       0.4.15
sympy                         1.13.1
tenacity                      8.3.0
tensorboard                   2.14.1
tensorboard-data-server       0.7.1
terminado                     0.18.0
threadpoolctl                 3.2.0
tinycss2                      1.2.1
toad                          0.1.3
tokenizers                    0.13.3
tomli                         2.0.1
tomlkit                       0.12.0
toolz                         0.12.0
torch                         2.5.1+cu118
torch-tb-profiler             0.4.3
torchaudio                    2.5.1+cu118
torchmetrics                  1.6.0
torchvision                   0.20.1+cu118
tornado                       6.3.2
tqdm                          4.66.4
traitlets                     5.9.0
transformers                  4.30.2
typer                         0.9.0
types-python-dateutil         2.8.19.20240106
typing_extensions             4.8.0
tzdata                        2023.3
uri-template                  1.3.0
urllib3                       1.26.13
uvicorn                       0.23.2
wcwidth                       0.2.6
webcolors                     1.13
webencodings                  0.5.1
websocket-client              1.7.0
websockets                    11.0.3
Werkzeug                      3.0.0
wheel                         0.44.0
widgetsnbextension            4.0.10
xgboost                       2.0.3
xxhash                        3.4.1
yarl                          1.9.4
zipp                          3.18.1

### 利率的计算

In [40]:
import numpy_financial as npf

# 借款参数
principal = 10000  # 本金
total_interest = 3600  # 总利息
periods = 12  # 还款期数（月）

# 每月还款金额（等额还款）
monthly_payment = (principal + total_interest) / periods

# 现金流序列
cash_flows = [-principal] + [monthly_payment] * periods

# 计算 IRR
monthly_irr = npf.irr(cash_flows)
annual_irr = (1 + monthly_irr) ** 12 - 1  # 将月IRR转换为年IRR

# 计算 APR
apr = (total_interest / principal) * (12 / periods) * 100  # 以百分比表示

# 输出结果
print(f"每月还款金额: {monthly_payment:.2f} 元")
print(f"现金流序列: {cash_flows}")
print(f"月IRR: {monthly_irr * 100:.2f}%")
print(f"年IRR: {annual_irr * 100:.2f}%")
print(f"APR: {apr:.2f}%")

每月还款金额: 1133.33 元
现金流序列: [-10000, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333, 1133.3333333333333]
月IRR: 5.08%
年IRR: 81.23%
APR: 36.00%

In [42]:
len(cash_flows)

13

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

# 设置随机种子以获得可重复的结果
np.random.seed(0)

# 生成10000组0到100之间的随机数
random_numbers = np.random.randint(0, 100, size=10000)

# 生成随机日期列表
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 12, 31)
date_range = [start_date + timedelta(days=int(x)) for x in np.random.randint(0, (end_date-start_date).days, size=10000)]

# 将日期转换为字符串格式（如果需要）
date_range_str = [date.strftime('%Y-%m-%d') for date in date_range]

# 创建一个DataFrame来保存结果
df = pd.DataFrame({
    'Random_Numbers': random_numbers,
    'Random_Dates': date_range_str
})

# 显示前几行数据
print(df.head())

   Random_Numbers Random_Dates
0              44   2023-06-17
1              47   2023-04-09
2              64   2023-02-22
3              67   2023-11-23
4              67   2023-04-14

In [3]:
df

      Random_Numbers Random_Dates
0                 44   2023-06-17
1                 47   2023-04-09
2                 64   2023-02-22
3                 67   2023-11-23
4                 67   2023-04-14
...              ...          ...
9995               7   2023-01-08
9996              29   2023-04-11
9997              39   2023-05-20
9998              72   2023-05-09
9999              48   2023-01-06

[10000 rows x 2 columns]

In [10]:
def bin_by_month(df, time_col, fea_col, bin_nums = 10, base_month = False, if_format = True):
    data = df.copy()
    data[time_col] = pd.to_datetime(df[time_col])
    data['month'] = data[time_col].dt.strftime('%Y-%m')
    mon_list = list(sorted(data['month'].unique()))
    if base_month:
        _, bins = pd.qcut(data[data['month'] == base_month][fea_col], q = bin_nums, retbins = True)
    else:
        _, bins = pd.qcut(data[data['month'] == mon_list[0]][fea_col], q = bin_nums, retbins = True)
    bins[0], bins[-1] = -np.inf, np.inf
    bins = np.unique(bins)
    
    fenxianglist = []
    for mon in mon_list:
        data_slice = data[data['month'] == mon].copy()
        data_slice['bin'] = pd.cut(data_slice[fea_col], bins = bins, include_lowest = True)
        fenxiang_by_month = data_slice.groupby('bin', dropna = False).agg({'month':'count'}) / len(data_slice)
        fenxiang_by_month.columns = [mon]
        fenxianglist.append(fenxiang_by_month)
        # if if_format:
        #     fenxiang_by_month[mon] = fenxiang_by_month[mon].map(lambda x:'{:.2%}'.format(x))
    output = pd.concat(fenxianglist, axis = 1)
    psi_matrix = pd.DataFrame(np.zeros((len(mon_list), len(mon_list))), index = mon_list, columns = mon_list)
    for i in range(len(mon_list)):
        for j in range(len(mon_list)):
            psi_matrix.iloc[i, j] = np.sum((output.iloc[:, i] - output.iloc[:, j]) * (np.log(output.iloc[:, i]) - np.log(output.iloc[:, j])))
    if if_format:
        for col in output.columns:
            output[col] = output[col].map(lambda x:'{:.2%}'.format(x))
    return output, psi_matrix

bin_by_month(df, 'Random_Dates', 'Random_Numbers')[1]

,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
2023-01,0.000000,0.022859,0.019449,0.005717,0.016845,0.026242,0.019180,0.029785,0.016764,0.007841,0.009029,0.024618
2023-02,0.022859,0.000000,0.018586,0.017060,0.005945,0.013935,0.007906,0.020532,0.008074,0.009711,0.015814,0.014821
2023-03,0.019449,0.018586,0.000000,0.009231,0.017372,0.023863,0.012793,0.016443,0.012097,0.008149,0.015152,0.008241
2023-04,0.005717,0.017060,0.009231,0.000000,0.012327,0.022131,0.014667,0.016979,0.009683,0.003068,0.013373,0.017229
2023-05,0.016845,0.005945,0.017372,0.012327,0.000000,0.009872,0.011385,0.028689,0.004309,0.007948,0.017949,0.015810
2023-06,0.026242,0.013935,0.023863,0.022131,0.009872,0.000000,0.021507,0.044009,0.010420,0.016598,0.034525,0.025132
2023-07,0.019180,0.007906,0.012793,0.014667,0.011385,0.021507,0.000000,0.019780,0.006117,0.006932,0.011070,0.009873
2023-08,0.029785,0.020532,0.016443,0.016979,0.028689,0.044009,0.019780,0.000000,0.026700,0.016862,0.019148,0.018848
2023-09,0.016764,0.008074,0.012097,0.009683,0.004309,0.010420,0.006117,0.026700,0.000000,0.003464,0.019049,0.012845
2023-10,0.007841,0.009711,0.008149,0.003068,0.007948,0.016598,0.006932,0.016862,0.003464,0.000000,0.010448,0.010864
2023-11,0.009029,0.015814,0.015152,0.013373,0.017949,0.034525,0.011070,0.019148,0.019049,0.010448,0.000000,0.016131
2023-12,0.024618,0.014821,0.008241,0.017229,0.015810,0.025132,0.009873,0.018848,0.012845,0.010864,0.016131,0.000000

In [11]:
a = [1, 2 ,3]
list(a)

[1, 2, 3]

In [3]:
word = 'acb'
sorted(word), ''.join(sorted(word))

(['a', 'b', 'c'], 'abc')

In [2]:
from collections import Counter
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Counter(list_1)

Counter({1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1})

In [7]:
cnt = Counter(list_1)

In [10]:
[cnt[i] for i in range(10)]

[0, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [11]:
sum([cnt[i] for i in range(10)]), sum(cnt[i] for i in range(10))

(9, 9)

In [12]:
sum(i for i in range(1, 10001) if i % 3 == 0 or i % 5 == 0)

23341668