In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

In [2]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
df.apply(lambda row:pd.DataFrame(row), axis = 1)

0       0
A  1
B  4
C  7
1       1
A  2
B  5
C  8
2       2
A  3
B  6
C  9
dtype: object

In [16]:
df.apply(lambda row:row['A'], axis = 1)

0    1
1    2
2    3
dtype: int64

In [5]:
df.apply(lambda row:pd.DataFrame([row]), axis = 1)

0       A  B  C
0  1  4  7
1       A  B  C
1  2  5  8
2       A  B  C
2  3  6  9
dtype: object

In [7]:
type(df['A'])

pandas.core.series.Series

In [10]:
type(df.iloc[0,:])

pandas.core.series.Series

In [12]:
slice = df.iloc[0,:]
slice

A    1
B    4
C    7
Name: 0, dtype: int64

In [13]:
slice['A']

1